header {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: antiquewhite;
}
#catg li{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
    font-size: 30px;
    padding: 25px;
}
#catg ul{
    display: flex;
    flex-direction: row;
    
}
#logo{
    font-size: 50px;
    padding: 30px;
    text-transform: uppercase;
}

h2{
    display: flex;
    text-transform: capitalize;
    font-size:30px;
    justify-content: center;
    
}
h1{
    display: flex;
    text-transform: capitalize;
    font-size:35px;
}
#content{
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 30px;
    grid-template-areas: 
    "itm1 itm1 itm1 itm1 itm1 itm1"
    "itm1 itm1 itm1 itm1 itm1 itm1"
    "itm2 itm2 itm2 itm2 itm2 itm2"
    "itm3 itm3 itm4 itm4 itm5 itm5"
    "itm6 itm6 itm6 itm7 itm7 itm7";
}
#itm1{
    grid-area: itm1;
    background-color: green;
}
#itm2{
    grid-area: itm2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
   } 

#itm3{
    grid-area: itm3;
}
#itm4{
    grid-area: itm4;
}
#itm5{
    grid-area: itm5;
}
#itm6{
    grid-area: itm6;
    background-color: yellow;
}
#itm7{
    grid-area: itm7;
}
 @media all and (max-width:768px) {
    #content{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: repeat(7,1fr);
        gap: 30px;
        grid-template-areas: 
        "itm1 itm1 itm1"
        "itm1 itm1 itm1"
        "itm2 itm2 itm2"
        "itm3 itm3 itm3"
        "itm4 itm4 itm4"
        "itm5 itm5 itm5"
        "itm6 itm6 itm6"
        "itm7 itm7 itm7";
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
 @media all and(max-width:600px) {
    #content{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: repeat(7,1fr);
        grid-template-areas: 
        "itm1 itm1"
        "itm2 itm2"
        "itm3 itm3"
        "itm4 itm4"
        "itm5 itm5"
        "itm6 itm6"
        "itm7 itm7";
    }
    header{
        display: flex;
        flex-direction: column;
    }
    #catg ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
