*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#head{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(58, 57, 57);
    position: fixed;
    top: 0;
       
}
#search{
    color: white;
    background-color: rgb(58, 57, 57);
    font-size: 30px;

}
#searchform{
    background-color: white;
    color: rgb(58, 57, 57);
    text-decoration: none;
    width: 300px;
    height: 20px;
    border :2px solid black ;
    display: none;
}
#webname{
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-transform: uppercase;
    font-size: 50px;
    color: azure;
}
.bar{
    display: flex;
    flex-direction:row;
    padding: 20px;
    
    
}
#content li{
    margin-right: 10px;
    list-style: none;
    margin-top: 10px;
}
#content a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px;
    color: rgb(156, 155, 155);
}
#content a:hover{
    
    color: rgb(128, 128, 128,0.5);
    transition: 0.5s;
}
.iconbar a{
    color: red;
    display: none;
}


header{
    background-color: antiquewhite;
    height: 950px;
    
    padding-top:calc(98px + 10rem) ;
    padding-bottom: 98px;
    text-align: center;
}
h1{
    text-transform: uppercase;
    font-size: 45px;
    color:rgb(71, 68, 68);
}
.personimg{
    border-radius: 50%;
    padding: 10px;
}

.line1{
    border: none;
    border-top:5px solid black;
    margin: auto;  
    margin-top: 30px; 
    max-width: 700px;
}
.line2{
    border: none;
    border-top:5px solid rgb(226, 215, 62);
    margin: auto;  
    margin-top: 30px; 
    max-width: 500px;
    padding: 20px;
}
.line3{
    border: none;
    border-top:5px solid rgb(25, 138, 25);
    margin: auto;  
    margin-top: 30px; 
    max-width: 350px;
    padding: 20px;
}
.line4{
    border: none;
    border-top:5px solid rgb(61, 147, 204);
    margin: auto;  
    margin-top: 30px; 
    max-width: 500px;
    padding: 20px;
    margin-bottom: 30px;
}


/* .line ::after {
    content: "\e123";
    font-family: "Font Awesome 5 Free";
    color: black;
    font-size: 19px;
    overflow: visible;
} */
/* maalesef burada font eklenemedi */

h2{
    text-transform: uppercase;
    padding: 20px;
    margin: auto;
    font-size: 26px;
}
#portfolio{
    background-color: salmon;
    height: 950px;
    padding-top: 8em;
    padding-bottom: 98px;
    text-align: center;
}
#portfolio h1{
    text-transform: uppercase;
    font-size: 45px;
    color: rgb(226, 215, 62);
    
}
img{
    border-radius: 50%;
    padding: 5px;
}
.portim{
    display: grid;
    grid-template-columns: (1fr 1fr 1fr);
    grid-template-rows: 1fr 1fr;
    width: 1000px;
    margin: auto;
    grid-gap: 40px;
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img5 img6" ;
   
   
} 

.img1{
    grid-area: img1;
    background-color: rgb(226, 215, 62);
}
.img2{
    grid-area: img2;
    background-color: rgb(226, 215, 62);
}
.img3{
    grid-area: img3;
    background-color: rgb(226, 215, 62);
}
.img4{
    grid-area: img4;
    background-color: rgb(226, 215, 62);
}
.img5{
    grid-area: img5;
    background-color: rgb(226, 215, 62);
}
.img6{
    grid-area: img6;
    background-color: rgb(226, 215, 62);
}
#about{
    background-color: rgb(199, 230, 230);
    height: 950px;
    padding-top: 8em;
    padding-bottom: 98px;
    text-align: center;
}
#about h1{
    text-transform: uppercase;
    font-size: 45px;
    color: rgb(25, 138, 25);
}
.parag{
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    margin: auto;
    margin-bottom: 30px;
}
.p1,.p2{
    display: flex;
    justify-content: left;
    text-align: justify;
    padding: 20px;
}
#btn{
    padding: 20px;
    border:2px solid green ;
    color: green;
    background-color: white;
    display: block;
    margin: auto;
}
#btn:hover{
    border:2px solid white ;
    color: white;
    background-color: green;
}
#contact{
    background-color: rgb(236, 175, 226);
    height: 950px;
    padding-top: 8em;
    padding-bottom: 98px;
    text-align: center;
}
#contact h1{
    text-transform: uppercase;
    font-size: 45px;
    color: rgb(61, 147, 204);
    
}
#contact{
    margin: auto;
    padding-bottom: 10px;
    
}
.contform input,.contform textarea{
    border: none;
    display: block;
    margin: auto;
    width: 70%;
    font-size: 25px;
    flex-basis: 60%;
}
.contform{
    margin-bottom: 20px;
    
}
.contform input:focus{
    outline: 0;
}
#btn2{
    text-transform: uppercase;
    padding: 20px;
    color:rgb(61, 147, 204) ;
    border: 2px solid rgb(61, 147, 204);
    background-color: white;
}
#btn2:hover{
    color:white ;
    border: 2px solid white ;
    background-color: rgb(61, 147, 204);
}
#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background-color: rgb(58, 57, 57);
    text-transform: uppercase;
}

.location, .contactme, .aboutme {
    flex-basis: 33% 33% 33%;
    padding: 40px;
    color: white;
    align-items: center;
    justify-content: center;
}
.contactme a{
    color: rgb(128, 128, 128,0.5);
    padding: 2px;
    justify-items: center;
}
.contactme a :hover{
    color: rgb(128, 128, 128,0.3);

}
#logos{
    padding-top: 30px;
}
h3{
    margin-left: 5px;
    color: rgb(255, 255, 255);
}

.p3{
    font-size: 15px;
    text-transform:lowercase;
    padding: 10px;
}

@media screen and (max-width: 768px){
    #portfolio{
       
        height: 950px;
        padding-top: 4em;
        padding-bottom: 98px;
        margin: auto;
        
    }
    .portim {
        grid-template-columns: 350px 350px ;
        grid-template-rows: 1fr 1fr 1fr;
       
        row-gap: 5px;
        column-gap: 5px;
        margin-left: 1em;
        grid-template-areas: 
    "img1 img2" "img3 img4" "img5 img6" ;
        }
         
             .img1:nth-of-type(1){
                grid-column: 1;
                 grid-row: 1;
             }
             .img2:nth-of-type(2){
                grid-column: 2;
                 grid-row: 1;
             }
             .img3:nth-of-type(3){
                grid-column: 1;
                 grid-row: 2;
             }
             .img4:nth-of-type(4){
                grid-column: 2;
                 grid-row:2;
                 
             }
             .img5:nth-of-type(5){
                grid-column:1;
                 grid-row:3;
             }
             .img6:nth-of-type(6){
                grid-column: 2;
                 grid-row:3;
             }

             .img1,.img2,.img3,.img4,.img5,.img6{
                width: 40%;
             }

}


@media all and (max-width: 500px){
    #head2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        background-color: rgb(58, 57, 57);
        position: fixed;
        top: 0;
           
    }
    .bar{
        display: none;
    }
    #webname{
        font-size: 30px;
    }
    #about h1,#contact h1,#portfolio h1,h1{font-size: 30px;}
    h2{font-size: 15px;}
    #about .parag{
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    #btn{
        padding: 5px;
    }
    #portfolio{
        
        clear: both;
        height: fit-content;
    }
    .portim {
        grid-template-columns: 500px;
        grid-template-rows: repeat(6,300px);
        grid-template-areas: 
        "img1" "img2" "img3"
        "img4" "img5" "img6" ;
        
        }
         
            
        .img1:nth-of-type(1){
            grid-column: 1;
             grid-row: 1;
         }
         .img2:nth-of-type(2){
            grid-column: 1;
             grid-row: 2;
         }
         .img3:nth-of-type(3){
            grid-column: 1;
             grid-row: 3;
         }
         .img4:nth-of-type(4){
            grid-column: 1;
             grid-row:4;
             
         }
         .img5:nth-of-type(5){
            grid-column:1;
             grid-row:5;
         }
         .img6:nth-of-type(6){
            grid-column: 1;
             grid-row:6;
         }


    #about{
        font-size: 12px;
    }
    #footer{
        font-size: 10px;
        height: 150px;
       } .p3{ 
            font-size:14px;
        }
    
    
    }

